* {
    box-sizing: border-box;
}
body {
    margin: 15px;
    font-family: "Source Sans Pro", "Calibri", "sans-serif";
    font-size: 16px;
}
h1 {
    text-align: center;
    font-size: 175%;
}
div {
    background-color: rgb(165, 165, 165);
    border: 1px solid black;
    margin: 15px 0px 15px 15px;
    padding: 0px 15px 0px 15px;
    position: relative;
    float: left;
}
h2 {
    margin: -1px -16px 5px 800px;
    border: 1px solid black;
    width: 150px;
    padding: 5px;
    float: right;
    display: block;
    position: relative;
    text-align: center;
    font-size: 125%;
}
h2.chicken {
    background-color: rgb(233, 151, 192);
}
h2.beef {
    background-color: rgb(201, 46, 46);
    color: white;
}
h2.sushi {
    background-color: rgb(230, 230, 118);
}

/* Desktop version. */
@media (min-width: 992px) {
    .col-lg-3 {
        width: 31.25%;
    }
}

/* Tablet Version. */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 47%;
    }
    .col-md-12 {
        width: 96%;
    }
}
/* Mobile Version. */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 96%;
    }
}